<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tct.data.dao.AssetsMetadataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tct.data.model.AssetsMetadata">
        <id column="id" property="id" />
        <result column="assets_info_id" property="assetsInfoId" />
        <result column="source_system" property="sourceSystem" />
        <result column="database_type" property="databaseType" />
        <result column="metadata_info" property="metadataInfo" />
        <result column="api_url" property="apiUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, assets_info_id, source_system, database_type, metadata_info, api_url
    </sql>

    <select id="selectByAssetsId" resultType="com.tct.data.model.AssetsMetadata">
        select * from assets_metadata where assets_id=#{assetsId, jdbcType = INTEGER}
    </select>
</mapper>
