<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tct.data.dao.OrganizationTreeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tct.data.model.OrganizationTree">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="parent_id" property="parentId" />
        <result column="sort" property="sort" />
        <result column="department_business" property="departmentBusiness" />
        <result column="main_business" property="mainBusiness" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="extra" property="extra" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, parent_id, sort, department_business, main_business, description, create_time, update_time, extra
    </sql>
    <select id="selectChildsList" resultType="com.tct.data.model.OrganizationTree">
        select * from organization_tree
        where parent_id = #{parentId, jdbcType = INTEGER}
        order by sort,id
    </select>
    <select id="selectChildsIdList" resultType="java.lang.Integer">
        select id from organization_tree
        where parent_id = #{parentId, jdbcType = INTEGER}
        order by sort,id
    </select>
    <select id="selectByNameAndParentId" resultType="com.tct.data.model.OrganizationTree">
        select * from organization_tree
        where parent_id = #{parentId, jdbcType = INTEGER}
        and name = name
    </select>
    <select id="getTree" resultType="com.tct.data.model.TreeVo">
        select * from organization_tree
        where parent_id = #{parentId, jdbcType = INTEGER}
    </select>

</mapper>
